<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/bootstrap.css">
	<style>
		body {
		  padding-top: 43px;
		  padding-bottom: 40px;
		}
	</style>
	<link rel="stylesheet" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" href="css/style.css">

	<script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body id="index">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">DICA DE FARMÁCIA</a>
          <nav class="nav-collapse pull-right">
            <ul class="nav">
              
              	<li><a href="#contact">Admin</a></li>
              
            </ul>
          </nav><!--/.nav-collapse -->
        </div>
      </div>
    </header>

      <!-- Search form-->
      <form id="search-form" class="well form-inline">
		 <div class="container">
		 	<div class="row">
		 		<div class="span12">
		 			<input id="search-input" type="text" class="span8" placeholder="Nome ou princípio ativo" data-provide="typeahead">
	       			<a id="btn-search-lrg" href="#" class="btn btn-primary" title="Go forth and search!">Pesquisar</a>
	      			<a id="btn-search-small" href="#" class="btn btn-small btn-primary" title="Go forth and search!">
	      				<i class="icon-search icon-white"></i>
	     			 </a>
	      		</div>
	      	</div>
	      </div>
      </form>

	<!-- Search Categories -->
	<div id="content">
		<div id="container" class="container">
			<div class="row">
				<!-- Results list and tabular data -->
				<div class="span12" id="results-main">
					
					<!-- part reslults -->
					<div id="results" class="results-on">
						
						<section class="result-part">
							<img id="result-thumb" class="pull-left" src="img/anador.jpg">
							<h4><a href="#" class="view-detail">Anador</a>
								
							</h4>
							<p class="short-desc pull-left">Dipirona Sódica</p>
							<div class="price-avail pull-right">
								<!-- price -->
								<p class="price">Price: $95.00</p>
							</div>
							<div class="pull-center"><h3><a href="#" class="view-detail">Pacheco</a>
								
							</h3></div>
						</section>

<section class="result-part">
							<div class="span3">
							<img id="result-thumb" class="pull-left" src="img/anador.jpg">
							<h4><a href="#" class="view-detail">Anador</a>
								
							</h4	>
							<p class="short-desc pull-left">Dipirona Sódica</p>
<br>
							<p class="short-desc pull-left">Teuto</p>
</div>
							<div class="pull-left"><h3><a href="#" class="view-detail">Onofre</a>
								
							</h3></div>
							<div class="price-avail pull-right">
								<!-- price -->
								<p class="price">Preço: $96.00</p>
							</div>
						</section>
				</div>
			</div>
			<!-- end parts results -->
			
		</div>
	</div>

    </div> <!-- /container -->
		
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

<script src="js/plugins.js"></script>
<script src="js/script.js"></script>

</body>
</html>
