.search-container {
	margin-top: 300px;
	margin-left: 110px;
}

.search-button {
	margin-left: 360px;
	margin-top: 10px;
}


input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}